#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "excalidraw"
name = "Excalidraw"
description.en = "Virtual whiteboard for sketching hand-drawn like diagrams"
description.fr = "Tableau blanc collaboratif virtuel qui vous permet d'esquisser facilement des diagrammes"

version = "0.18.0~ynh2"

maintainers = []

[upstream]
license = "MIT"
website = "https://excalidraw.com"
demo = "https://excalidraw.com"
code = "https://github.com/excalidraw/excalidraw"
fund = "https://opencollective.com/excalidraw"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "1500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/excalidraw/excalidraw/archive/refs/tags/v0.18.0.tar.gz"
    sha256 = "c6b7856aee49d7a126bbd3b95596e4a175bf19c0e50d2ce70a425300b30f456c"
    autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "apt-transport-https"

    [resources.nodejs]
    version = "22"
    